html,
body
{
   height: 100%;
}

body
{
   padding-top: 54px;
}

.navbar
{
   margin: 0;
}

.navbar-brand,
.nav-link
{
   font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
   font-weight: 100;
}

.navbar-brand
{
   font-size: 26px;
}

.navbar-brand span,
.nav-link
{
   font-size: 20px;
}

a.tile
{
   text-decoration: none;
   border: none;
}

.container
{
   margin: 0 auto;
   width: 90%;
   padding: 0px;
   position: relative;
}


.modal-scenario-create.failure input
{
   border: 1px solid red;
}

.modal-scenario-create .error {
   color: red;
   font-size: 0.8em;
   visibility: hidden;
}

.modal-scenario-create.failure .error {
   visibility: visible;
}

.tile .action
{
   color: white;
   font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
   font-weight: 100;
   padding: 0 10px 0 10px;
}

p
{
   font-family: "Segoe UI", "Open Sans", sans-serif, serif;
}

footer
{
   margin-top: 4em;    
}
