%%
%%   Copyright 2015 Zalando SE
%%
%%   Licensed under the Apache License, Version 2.0 (the "License");
%%   you may not use this file except in compliance with the License.
%%   You may obtain a copy of the License at
%%
%%       http://www.apache.org/licenses/LICENSE-2.0
%%
%%   Unless required by applicable law or agreed to in writing, software
%%   distributed under the License is distributed on an "AS IS" BASIS,
%%   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%   See the License for the specific language governing permissions and
%%   limitations under the License.
%%
{erl_opts, [
   native, {hipe, [o3]},
   {parse_transform, lager_transform}
]}.

{lib_dirs, []}.
{cover_enabled, true}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {branch, master}}
   }

  ,{datum,  ".*",
      %{git, "https://github.com/fogfish/datum", {tag, '3.3.2'}}
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }

  ,{pipe,  ".*",
      {git, "https://github.com/kfsm/pipe", {branch, master}}
   }

  ,{pns,  ".*",
      {git, "https://github.com/fogfish/pns", {branch, master}}
   }

  ,{pts,  ".*",
      {git, "https://github.com/fogfish/pts", {branch, master}}
   }

  ,{ambit, ".*",
      {git, "https://github.com/fogfish/ambit", {branch, 'order-actor-events'}}
   }

  ,{ek, ".*",
      {git, "https://github.com/fogfish/ek", {branch, 'new-vnode-struct'}}
   }

  ,{clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   }

  ,{knet, ".*",
      {git, "https://github.com/kfsm/knet", {branch, master}}
   }

  ,{restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   }

  ,{swirl, ".*",
      {git, "https://github.com/fogfish/swirl", {branch, master}}
   }

  ,{chronolog, ".*",
      {git, "https://github.com/fogfish/chronolog", {branch, master}}
   }

  ,{kmq, ".*",
      {git, "https://github.com/kfsm/kmq", {branch, master}}
   }

  ,{clot, ".*",
      {git, "https://github.com/fogfish/clot", {branch, master}}
   }

  ,{eep, ".*",
      {git, "https://github.com/fogfish/eep", {branch, master}}
   }
]}.


{overrides, [
   %%
   %% expand compiler options
   {add, aae,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, ambit,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, ambitz, [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, cache,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, chronolog, [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, clue,   [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, datum,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, dive,   [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, ek,     [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, esq,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, feta,   [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, hornlog,[{erl_opts, [native, {hipe, [o3]}]}]},
   {add, htstream,[{erl_opts, [native, {hipe, [o3]}]}]},
   {add, jsx,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, kmq,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, knet,   [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, lager,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, pipe,   [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, pns,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, pq,     [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, pts,    [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, restd,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, swirl,  [{erl_opts, [native, {hipe, [o3]}]}]},
   {add, uid,    [{erl_opts, [native, {hipe, [o3]}]}]},

   %%
   %% required to assemble native library 
   {override, eleveldb, [
      {plugins, [pc]},
      {artifacts, ["priv/eleveldb.so"]},

      {provider_hooks, [
         {post, [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
         ]}
      ]}
   ]}
]}.

