%%
%%   Copyright 2015 Zalando SE
%%
%%   Licensed under the Apache License, Version 2.0 (the "License");
%%   you may not use this file except in compliance with the License.
%%   You may obtain a copy of the License at
%%
%%       http://www.apache.org/licenses/LICENSE-2.0
%%
%%   Unless required by applicable law or agreed to in writing, software
%%   distributed under the License is distributed on an "AS IS" BASIS,
%%   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%   See the License for the specific language governing permissions and
%%   limitations under the License.
%%
{erl_opts, [
   {parse_transform, lager_transform}
]}.

{sub_dirs, [
   "apps/typhoon"
  ,"apps/zephyrus"
  ,"rel"
]}.
{lib_dirs, []}.
{cover_enabled, true}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, '2.0.3'}}
   }

  ,{pipe,  ".*",
      {git, "https://github.com/kfsm/pipe", {branch, master}}
   }

  ,{pns,  ".*",
      {git, "https://github.com/fogfish/pns", {branch, master}}
   }

  ,{ambit, ".*",
      {git, "https://github.com/fogfish/ambit", {branch, master}}
   }

  ,{ek, ".*",
      {git, "https://github.com/fogfish/ek", {branch, 'new-vnode-struct'}}
   }

  ,{clue, ".*",
      {git, "https://github.com/fogfish/clue", {branch, master}}
   }

  ,{knet, ".*",
      {git, "https://github.com/kfsm/knet", {branch, master}}
   }

  ,{restd, ".*",
      {git, "https://github.com/kfsm/restd", {branch, master}}
   }

  ,{swirl, ".*",
      {git, "https://github.com/fogfish/swirl", {branch, master}}
   }

  ,{chronolog, ".*",
      {git, "https://github.com/fogfish/chronolog", {branch, master}}
   }
]}.
