html,
body
{
   height: 100%;
}

.navbar
{
   margin: 0;
}


.navbar-brand,
.nav-link
{
   font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
   font-weight: 100;
}

.navbar-brand
{
   font-size: 26px;
}

.navbar-brand span,
.nav-link
{
   font-size: 20px;
}

a.tile
{
   text-decoration: none;
   border: none;
}

.failure
{
   border: 1px solid red;
}

.tile .action
{
   color: white;
   font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
   font-weight: 100;
   padding: 0 10px 0 10px;
}

.container
{
   margin: 1.5em auto;
}
